<footer class="footer">
  <div class="f-info">
    <div class="f-socials">
      <a href="https://web.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.instagram.com/ihsan.div"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://github.com/ihsan-javid"><i class="fa-brands fa-square-github"></i></a>
    </div>
    <div>&copy; NestiGo Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
