<% layout("/layouts/boilerplate")%>
<div class="row" >
  <div
    class=" alert alert-danger d-flex align-items-center col-6 offset-3 mt-2"
    role="alert"
    id="error"
  >
    <i
      class="fa-solid fa-circle-exclamation bi flex-shrink-0 me-2"
      role="img"
      aria-label="Danger:"
    ></i>
    <div><%= message %></div>
  </div>
</div>
